<section class='row'>
  <div class='row'>
    <div class="col-lg-9 col-md-8 col-sm-6">
    <h1>About Me!</h1>
    <h2>tldr;</h2>
    <p>Hi, I’m Xander Miller. I currently I teach Full Stack Ruby on Rails Web Development for <a href="http://bloc.io">Bloc.io</a>. I use my Cognitive Science training and Web Development skills to build cool things to help people make better decisions and make my community better.</p> 
    <h2>My Mission</h2>
    <p>Helps people make better decisions and realize their dreams by collecting and shaping data to be simple, clear and beautiful. </p>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <img src="https://s3-us-west-2.amazonaws.com/xander-mind/pareidoliax.png" id="pareidoliax" class="img-responsive img-rounded pull-right"/>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <h2>How I'm currently living my mission</h2>
    <p>Currently I’m a mentor for <a href="http://bloc.io">Bloc.io</a>. I teach full stack web development online, helping students with their course work and personal web app projects.  I learn all I can about data science, web development and design. I stay active in the Ottawa developer and open data communities. And as much as possible I blog and give presentations to share the cool things I learn and discover.</p>
    <h2>My Passions</h2>
    <p>I'm passionate about learning, teaching and discovering. I'm passionate about family, friendship, community and people.</p> 
  </div>
</div>
  
</section>