<section class='row'>
  
  <h1>Contact Me</h1>
  <p>The easiest way to contact me is through <a href='http://twitter.com/intent/tweet?screen_name=pareidoliax'>twitter</a> or email but here are a couple of other options. I'm currently interested in any events related to web development, web design, data science, cognitive science, education and open data. I would be happy to promote or participate in any such events.</p>

  <div class='row'>
    <div class='col-lg-4 col-md-6 col-sm-8 col-xs-10'>
    <div class="list-group">
      <a href="mailto:xander.miller@gmail.com" class='list-group-item'><span class='glyphicon glyphicon-envelope'></span>  xander.miller@gmail.com</a>
      <a href="tel:+16137971031" class='list-group-item'><span class='glyphicon glyphicon-phone'></span>  +1 613.797.1031</a>
    </div>
  </div>
  </div>

</section>
