<footer>
  <% social_media = [
    ["Github", "github-256.png", "https://github.com/PareidoliaX"],
    ["LinkedIn", "linkedin-256.png", "https://www.linkedin.com/pub/alexander-miller/2b/909/62b"],
    ["CodeSchool", "codeschool-256.png", "https://www.codeschool.com/users/336826"],
    ["Treehouse", "treehouse-256.png", "http://teamtreehouse.com/alexandermiller"],
    ["Khan Academy", "khanacademy-256.png", "https://www.khanacademy.org/profile/PareidoliaX/"],
    ["WordPress", "wordpress-256.png", "http://pareidoliax.ca/"],
    ["Steam", "steam-256.png", "http://steamcommunity.com/profiles/76561198025305101"],
    ["Twitter", "twitter-256.png", "https://twitter.com/PareidoliaX"],
    ["Facebook", "facebook-256.png", "https://www.facebook.com/xander.miller"]
    ] %>
    <nav>
      <ul id="social-media">
        <% social_media.each do |media| %>
          <li>
            <%= link_to media[2] { image_tag("https://s3-us-west-2.amazonaws.com/xander-mind/#{media[1]}", alt: "#{media[0]} Logo")} %>
          </li>
        <% end %>
      </ul>
    </nav>
  <p>&copy; 2014 <em>Xander Miller</em></p>
</footer>