
  <nav>
    <ul class="nav nav-pills">
      <%# content_tag :li, link_to("Home", root_path), class: "#{css_class_active_for(root_path)}" %>
      <%# content_tag :li, link_to("Portfolio", portfolio_path), class: "#{css_class_active_for(portfolio_path)}" %>
      <%= content_tag :li, link_to("About", about_path), class: "#{css_class_active_for(about_path)}" %>
      <%= content_tag :li, link_to("Contact", contact_path), class: "#{css_class_active_for(contact_path)}" %>
    </ul>
  </nav>
